<% provide(:title, 'New Analysis') %>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>New Analysis</h3>
        </div>
    </div>


<%= render 'form', project: @project, analysis: @analysis %>

<%= link_to 'Back', project_path(@project) %>

</div>