<% provide(:title, 'New Project') %>

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>New Project</h3>
        </div>
    </div>

<%= render 'form', project: @project %>
<%= link_to 'Back', projects_path %>

</div>